<md-sidenav-container class="sidenav-container">
	<md-sidenav #sidenav class="sidenav">
		<md-list>
			<md-list-item>
				<a routerLink="/home" (click)="sidenav.close()">Accueil</a>
			</md-list-item>
			<md-list-item>
				<a routerLink="/tournaments" (click)="sidenav.close()">Mes tournois</a>
			</md-list-item>
			<md-list-item>
				<a routerLink="/tournaments/create" (click)="sidenav.close()">Créer un tournoi</a>
			</md-list-item>
			<md-list-item>
				<a routerLink="/about" (click)="sidenav.close()">À propos</a>
			</md-list-item>
		</md-list>
	</md-sidenav>

	<md-toolbar color="primary">
		<button md-icon-button (click)="sidenav.open()">
			<md-icon>menu</md-icon>
		</button>
		<span>Tournaments</span>
	</md-toolbar>

	<router-outlet></router-outlet>

</md-sidenav-container>
